<div class="mb-3">
    <input class="form-control" type="text" placeholder="auID" value="{{this.auID}}" aria-label="default input example" name="auID">
  </div>

  <div class="mb-3">
    <input class="form-control" type="text" placeholder="aName" value="{{this.aName}}" aria-label="default input example" name="aName">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" value="{{this.email}}" placeholder="name@example.com" name="email">
  </div>

  <div class="mb-3">
    <input class="form-control" type="text" placeholder="phone" value="{{this.phone}}" aria-label="default input example" name="phone">
  </div>

  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>